@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import './mobile-optimizations.css';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 217 19% 10%;
    /* #111921 hsl approx */
    --foreground: 210 40% 98%;
  }

  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display min-h-screen;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .material-symbols-outlined.fill {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .animate-sweep {
    animation: sweep 0.3s ease-in-out;
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Custom Scrollbar applied to body/html */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-track {
  background: #111921;
}

.dark ::-webkit-scrollbar-thumb {
  background: #2A3B4C;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #344d65;
}